@media (min-width:1800px) {
    .container { width: 1534px; }
}

/*********************************** Start Of Common Css ***********************************/
@font-face { font-family: Gibson-Regular; src: url(../fonts/Gibson-Regular.woff); }
@font-face { font-family: Gibson-Semi-Bold; src: url(../fonts/Gibson-Semi-Bold.woff); }

body { font-family: Gibson-Regular; color: #11304E; padding: 0px; margin: 0px; }
h1, h2, h3, h4, h5, h6 { font-family: Gibson-Bold; color: #11304E; margin: 0px; padding: 0px; }
p { font-family: Gibson-Light; font-size: 15px; color: #4d4d4d; line-height: 25px; letter-spacing: 0.6px; }
p+p { margin: 20px 0px 0px 0px; }
ul, ol { list-style-type: none; margin: 0px; padding: 0px; }
img { width: 100%; outline: none; }
a { color: #4d4d4d; text-decoration: none; }
a:active, a:hover, a:focus { outline: none; text-decoration: none; color: #1d1d1b; transition: all 0.5s ease-in-out; -webkit-transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -ms-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; }
:focus { outline: none; }
input, select, textarea { font-size: 15px; color: #11304E; width: 100%; height: 50px; background: #fff; padding: 0px 15px; border: 1px solid #11304E; border-radius: 10px; }
textarea { padding: 15px; height: 100px; }
input[type="checkbox"], input[type="radio"] { width: 20px; height: 20px; }
::-webkit-input-placeholder { color: #000; }
::-moz-placeholder { color: #000; }
::-ms-input-placeholder { color: #000; }
::-moz-placeholder { color: #000; }
table { width: 100%; }
label { font-size: 15px; color: #11304E; margin-bottom: 10px; }

/*********************************** End Of Common Css ***********************************/

/*********************************** Start Of Common Class Css ***********************************/
.page-content { overflow: hidden; }
.sub-container { padding: 0% 10%; }
.mini-size { font-size: 20px; }
.small-size { font-size: 30px; }
.large-size { font-size: 40px; }
.extra-large-size { font-size: 45px; }
.title-box { padding-bottom: 50px; }
.title-big-text { font-size: 80px; line-height: 80px; }
.title-text { font-size: 60px; line-height: 60px; }
.title-small-text { font-size: 50px; line-height: 50px; }
.sub-title-text { font-size: 18px; }
.title-separator { position: relative; }
.title-separator:after { content: ""; background: #f1f1f1; width: 32%; height: 2px; display: inline-block; vertical-align: middle; margin-left: 15px; }
.title-separator:before { content: ""; background: #f1f1f1; width: 32%; height: 2px; display: inline-block; vertical-align: middle; margin-right: 15px; }
.title-info { font-size: 30px; margin-top: 20px; }
.button {
    font-size: 20px;
    color: #ffff;
    text-align: center;
    line-height: 50px;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: block;
    border: none;
    outline: none;
    border-radius: 60px;
    width: 300px;
    height: 50px;
   
    
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}


.button-border {    line-height: 46px; border: 3px solid; background: #ffffff; }
.button:hover { background: #fff; color: #000; transition: all 0.5s ease-in-out; -webkit-transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -ms-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; }


.button.pink-bg:hover {
    background: #11304e;
    color: #fff;
}

.gray-color { color: #cfccce; }
.gray-bg { background: #cfccce; }
.white-color { color: #ffffff; }
.white-bg { background: #ffffff; }
.black-color { color: #000000; }
.black-bg { background: #000000; }
.pink-color { color: #F50057; }
.pink-bg { background: #F50057; }
.blue-color { color: #11304E; }
.blue-bg { background: #11304E; }
.light-green-color { color: #00D49D1D; }
.light-green-bg { background: #00D49D1D; }
.sky-color { color: #16FABF; }
.sky-bg { background: #16FABF; }
.empty-space { padding: 100px 0px; }
.empty-space-top { padding-top: 100px; }
.empty-space-bottom { padding-bottom: 100px; }
.no-gutters { margin-right: 0; margin-left: 0; }
.no-gutters>[class^="col-"], .row.no-gutters>[class*=" col-"] { padding-right: 0; padding-left: 0; }
.row-height { display: table; table-layout: fixed; height: 100%; width: 100%; }
.col-height { display: table-cell; float: none; height: 100%; }
.col-top { vertical-align: top; }
.col-middle { vertical-align: middle; }
.col-bottom { vertical-align: bottom; }
.col-5 { width: 20%; float: left; }
.ml-auto { margin-left: auto; float: none; }
.form-field { margin-bottom: 20px; }
.form-checkbox input[type="checkbox"] { opacity: 0; position: absolute; left: 0px; top: -3px; width: 24px; height: 23px; z-index: 1; }
.form-checkbox { position: relative; }
.form-checkbox .form-check-mark { position: relative; cursor: pointer; }
.form-checkbox .form-check-mark:before { content: ''; -webkit-appearance: none; background-color: transparent; border: 2px solid #FF0066; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05); padding: 10px; border-radius: 100%; display: inline-block; position: relative; vertical-align: middle; cursor: pointer; }
.form-checkbox input:checked + .form-check-mark:after { content: ''; display: block; position: absolute; top: 3px; left: 7px; width: 10px; height: 10px; background: #f50057; border-radius: 100%; }

/*********************************** End Of Common Class Css ***********************************/

/*********************************** Start Of Preloader Loader Css ***********************************/
#preloader { position: fixed; top: 0; left: 0; right: 0; bottom: 0; background: #ffffff; z-index: 9999; display: flex; justify-content: center; align-items: center; }
#status { background: url(../images/Preloader.png); background-repeat: no-repeat; background-position: center; background-size: contain; width: 150px; height: 150px; padding: 20px; animation: rotation 12s infinite linear; }
@keyframes rotation {
    from { transform: rotate(0deg); }
    to { transform: rotate(363deg); }
}

/*********************************** End Of Preloader Loader Css ***********************************/

/*********************************** Start Of Back To Top Css ***********************************/
.back-to-top { font-size: 30px; color: #fff; text-align: center; cursor: pointer; width: 40px; height: 40px; line-height: 36px; background: #000; border: 2px solid #ffffff; position: fixed; bottom: 20px; right: 20px; display: none; }
.back-to-top:hover { background: #949494; color: #fff; transition: all 0.5s ease-in-out; -webkit-transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -ms-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; }

/*********************************** End Of Back To Top Css ***********************************/

/*********************************** Start Of Bounce Top Bottom Css ***********************************/
.bounce { -moz-animation: bounce 2s infinite; -webkit-animation: bounce 2s infinite; animation: bounce 2s infinite; }
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% { transform: translateY(0); }
    40% { transform: translateY(-10px); }
    60% { transform: translateY(-10px); }
}

/*********************************** End Of Bounce Top Bottom Css ***********************************/

/*********************************** Start Of Fixed Header Smooth Animation Css ***********************************/
.fixed-header { position: fixed; left: 0px; right: 0px; top: 0px; z-index: 111; background: #ffffff; box-shadow: 0px 0px 10px #00000042; animation: smoothScroll 1s forwards; }
@keyframes smoothScroll {
    0% { transform: translateY(-40px); }
    100% { transform: translateY(0px); }
}

/*********************************** End Of Fixed Header Smooth Animation Css ***********************************/

/*********************************** Start Of Slick Slides Css ***********************************/
.slick-prev, .slick-next { font-size: 0px; background: none; border: none; position: absolute; top: 50%; transform: translateY(-50%); -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -o-transform: translateY(-50%); -ms-transform: translateY(-50%); z-index: 1; }
.slick-prev:before { font-family: FontAwesome; content: "\f104"; font-size: 32px; line-height: 40px; color: #fff; display: block; width: 40px; height: 40px; text-align: center; border-radius: 100%; background: #F50057; }
.slick-next:before { font-family: FontAwesome; content: "\f105"; font-size: 32px; line-height: 40px; color: #fff; display: block; width: 40px; height: 40px; text-align: center; border-radius: 100%; background: #F50057; }
.slick-next { right: 0px; }
.slick-prev { left: 0px; }
.slick-dots li { display: inline-block; margin: 0px 5px; }
.slick-dots li button { width: 10px; height: 10px; font-size: 0px; background: #000; border: none; border-radius: 100%; }
.slick-dots li.slick-active button { background: #494949; }

/*********************************** End Of Slick Slides Css ***********************************/

/********************************* Start Of Header Css***************************************/
.fixed-header .topbar { display: none; }
.logo { padding: 15px 0px; }
.header-menu ul li { display: inline-block; margin: 0px 15px; }
.header-menu ul li a { font-size: 16px; color: #11304E; }
.header-right { text-align: right; }
.search-box { display: inline-block; vertical-align: middle; }
.search-box input { height: 30px; border: none; border-bottom: 1px solid #000; border-radius: 0px; display: inline-block; vertical-align: middle; width: calc(100% - 50px); padding: 0px; }
.search-box button { font-size: 30px; color: #FF0066; width: 45px; background: none; border: none; display: inline-block; vertical-align: middle; }
.action-box { display: inline-block; vertical-align: middle; }
.action-box ul li { display: inline-block; margin: 0px 15px; }
.action-box ul li a { font-size: 15px; color: #11304E; }
.action-box ul li a i { font-size: 30px; color: #FF0066; }
.topbar-box { display: inline-block; vertical-align: middle; width: 19%; padding: 20px 0px; }
.topbar-icon { width: 30px; display: inline-block; vertical-align: middle; }
.topbar-icon img { width: 25px; height: 25px; object-fit: contain; }
.topbar-info { display: inline-block; vertical-align: middle; padding-left: 15px; width: calc(100% - 40px); }
.topbar-box input { height: 35px; width: calc(100% - 100px); border-radius: 60px; border: 1px solid; }
.topbar-box button { font-size: 16px; color: #11304E; background: #ffffff; height: 35px; width: 60px; border-radius: 30px; border: 1px solid; }
.topbar-info h6 { font-size: 20px; }
.topbar-info small { font-size: 15px; }

/********************************* End Of Header Css***************************************/

/********************************* Start Of Home Pages Css***************************************/
.hero-box { position: relative; }
.hero-info .title-text { line-height: 80px; }
.hero-info { position: absolute; top: 50%; right: 10%; width: 50%; transform: translateY(-50%); -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -o-transform: translateY(-50%); -ms-transform: translateY(-50%); }
.hero-info p { font-size: 30px; color: #fff; margin: 25px 0px; }
.category-box { text-align: center; padding: 30px 0px; }
.category-box i { font-size: 45px; color: #fff; }
.category-box h5 { font-size: 20px; color: #fff; margin-top: 10px; }
.reviews-box { text-align: center; width: 72%; margin: 0px auto; }
.plans-box { margin: 15px 0px; padding: 20px; border-radius: 20px; box-shadow: 0px 0px 15px 5px #c1c1c1; text-align: center; border: 2px solid #11304E; display: block; height: auto !important; }
.plans-icon { margin-bottom: 20px; }
.plans-icon i { font-size: 50px; color: #f50057; margin: 0px 10px; }
.plans-icon img { width: 60px; }
.plans-info { padding: 15px 0px; }
.plans-info h5 { font-size: 30px; }
.plans-info h2 { font-size: 60px; }
.plans-info h3 { font-size: 30px; line-height: 40px; margin: 45px 0px; }
.plans-info h6 { font-size: 20px; margin: 10px 0px; }
.plans-info hr { border-top: 2px solid #ffffff; width: 100px; }
.plans-info ul li { font-size: 20px; }
.plans-button .button {margin:5px auto;}

.plans-more-info { text-align: left; padding-top: 15px; display: none; }
.plans-more-info h3 { font-size: 30px; margin-bottom: 20px; }
.plans-more-info .button {    color: #fff !important; margin-top: 15px; }
.plans-slider .slick-list { padding-right: 40px; }
.plans-slider .slick-prev { left: -50px; }
.plans-slider .slick-next { right: 15px; }
.plans-box.collapse.in .plans-more-info { display: block; }
.plans-top-info { background: #11304E; padding: 20px; border-radius: 15px 15px 0px 0px; margin: -20px -20px 0px -20px; }
.plans-top-info h5 { font-size: 30px; color: #fff; }
.plans-box.collapse.in .plans-top-info { background: #1DE9B6; }
.plans-box.collapse.in { border-color: #1DE9B6; }
.best-deals-plans-box.collapse.in { background: #ffffff; border: 2px solid #11304E; }
.best-deals-plans-box.collapse.in * { color: #11304E; }
.best-deals-plans-box .plans-info * { color: #ffffff; }
.best-deals-plans-box { background: #11304E; border: none; }
.plans-col .best-deals-plans-box { margin: 0px 25px; }
.best-deals-info { padding-left: 18%; padding-right: 5%; }
.best-deals-info p { margin: 30px 0px; }
.swich-img-box img { height: 80px; width: auto; margin-bottom: 15px; }
.number-box { display: flex; }
.switching-box h4 { line-height: 1.2; margin-bottom: 20px; }
.number-col { margin-right: 15px; }
.number-col h1 { font-size: 150px; line-height: 0.8; }
.number-icon-box img { width: 40px; margin-bottom: 12px; }
.number-icon-box h3 { margin: 10px 0px; }
.working-from-home-bg { background: url(../images/working-from-home-bg.jpg); background-repeat: no-repeat; background-position: center center; background-size: cover; }
.working-from-home-box { padding: 20px 0px 50px; }
.working-from-home-box h6 { position: relative; display: inline-block; text-transform: uppercase; }
.working-from-home-box h6:before { content: ""; background: #F50057; height: 2px; width: 80%; margin: 0px auto; position: absolute; bottom: -5px; left: 0px; right: 0px; }
.working-from-home-box h1 { margin: 15px 0px; }
.working-from-home-box p { margin-bottom: 20px; }
.working-from-home-box .button {margin: 0px auto;}
.find-connection { text-align: center; }
.find-connection h2 { font-size: 50px; margin-bottom: 20px; }
.find-connection h2 img { width: 30px; margin-right: 20px; }
.find-connection h5 { font-size: 30px; display: inline-block; vertical-align: middle; }
.find-connection form { display: inline; vertical-align: middle; max-width: 570px; }
.find-connection form input { max-width: 210px; height: 40px; border-radius: 15px; margin: 0px 15px; display: inline-block; }
.find-connection form button { background: #f50057; border: none; font-size: 22px; width: 65px; border-radius: 10px; height: 40px; color: #fff; }
.upgrade-pop-tv-bg { background: url(../images/upgrade-pop-tv-bg.png); background-repeat: no-repeat; background-position: center center; background-size: cover; }
.pop-tv-image img { margin-bottom: -100px; }
.pop-tv-info h6 { font-size: 20px; color: #fff; margin: 15px 0px; }
.pop-tv-info { padding-bottom: 8%; padding-left: 6%; }
.pop-tv-info ul li { font-size: 15px; color: #fff; margin: 10px 0px; }
.pop-tv-info h4 { font-size: 20px; color: #ffffff; margin-top: 15px; }
.pop-tv-info h5 { font-size: 30px; color: #ffffff; margin: 15px 0px; }
.turbo-charge-pop-tv-info { padding-left: 22%; }
.turbo-charge-pop-tv-info .title-text { margin-bottom: 20px; }
.fastest-unlimited-bg { background: url(../images/fastest-unlimited-bg.png); background-repeat: no-repeat; background-position: center center; background-size: cover; }
.fastest-unlimited-box { float: none; margin-left: auto; }
.fastest-unlimited-info { padding: 10% 0%; }
.fastest-unlimited-info .title-text { margin-bottom: 20px; }
.love-superfast-wifi-bg { background: url(../images/love-superfast-wifi-bg.png); background-repeat: no-repeat; background-position: center center; background-size: cover; }
.love-superfast-wifi-info img { height: 100px; width: auto; margin-bottom: 15px; }
.love-superfast-wifi-info p { color: #fff; margin: 15px 0px; }
.love-superfast-wifi-box { float: none; margin-left: auto; }

/********************************* End Of Home Pages Css***************************************/

/********************************* Start Of Footer Css***************************************/
footer { padding: 30px 0px; }
.footer-box h5 { font-size: 20px; margin-bottom: 10px; margin-top: 20px; text-transform: uppercase; }
.footer-box ul li a { font-size: 15px; line-height: 28px; color: #fff; }
.footer-box ul.footer-link li a { text-transform: uppercase; }
.footer-box h5 + h5 { margin-top: 30px; }
.footer-logo img { max-width: 94px; }
.social-media-box { text-align: right; }
.social-media-box ul { margin-top: 30px; }
.social-media-box ul li { display: inline-block; }
.social-media-box ul li a { font-size: 20px; color: #fff; margin-left: 20px; display: block; }
.footer-box a:hover { color: #F50057; }
.button img { width: 30px; display: inline-block; }
.live-chat-box .button {     height: 250px;    width: 52px; }
.live-chat-box .button img { transform: rotate(90deg); }
.live-chat-box { position: fixed; right: 0px; top: 45%; transform: rotate(180deg); writing-mode: vertical-rl; z-index: 1; }

/********************************* End Of Footer Css***************************************/
.banner-box { position: relative; }
.banner-image img { height: 54vh; object-fit: cover; }
.banner-info h1 { font-size: 80px; white-space: nowrap; margin-bottom: 15px; }
.banner-info h5 { font-size: 30px; line-height: 40px; }
.banner-info { position: absolute; top: 50%; left: 10%; width: 45%; transform: translateY(-50%); -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -o-transform: translateY(-50%); -ms-transform: translateY(-50%); }
.plans-tab-menu { text-align: center; }
.plans-tab-menu ul li a { font-size: 20px; background: #11304E; color: #fff; min-width: 175px; padding: 10px 33px; border-radius: 60px; display: block; text-transform: capitalize; }
.plans-tab-menu ul li { display: inline-block; margin: 0px 15px; }
.plans-tab-menu ul .active a { background: #F50057; }
.plans-tab-list { text-align: center; padding-top: 10px; }
.plans-tab-list ul li a { font-size: 20px; border: 1px solid #ff4f8e; padding: 10px 33px; border-radius: 60px; display: block; }
.plans-tab-list ul li { display: inline-block; margin: 0px 15px; }
.plans-tab-info { padding: 3%; text-align: center; border: 3px solid #11304e; border-radius: 20px; }
.plans-tab-info table tr td { text-align: center; }
.plans-tab-info h6 { font-size: 17px; }
.plans-tab-info h3 { font-size: 30px; color: #FF0066; }
.plans-tab-info img { width: 30px; }
.plans-tab-info { display: block; height: auto !important; margin-top: 31px; }
.ptmi-box { display: none; }
.plans-tab-info.in .ptmi-box { display: block; }
.plans-tab-info.in .ptmi .button { display: none; }
.ptmi-box tr td:first-child { width: 100%; text-align: left; }
.ptmi tr td:first-child { text-align: left; }
.ptmi tr td:last-child { text-align: right; }
.ptmi tr td:nth-child(1) { width: 25%; }


.plan-title-box
{
    text-align: center;
    padding-bottom: 20px;
}


.plan-toggle input[type="checkbox"] {
    width: 50px;
    height: 20px;
    position: absolute;
    left: 0px;
    top: -5px;
    z-index: 1;
    opacity: 0;
    margin: 0px;
}
.plan-toggle { position: relative; }

.plan-toggle .pricing-toggle-check-mark {
    position: relative;
    cursor: pointer;
    border: 3px solid #11304E;
    width: 50px;
    height: 15px;
    border-radius: 55px;
    display: block;
}

.plan-toggle .pricing-toggle-check-mark:before {
    content: '';
    width: 20px;
    height: 20px;
    background: #11304E;
    display: block;
    border-radius: 100%;
    position: absolute;
    top: -6px;
    left: -3px;
}

.plan-toggle input:checked + .pricing-toggle-check-mark:before { right: -5px; left: auto; }
.plan-toggle-box { display: flex; align-items: center; justify-content: flex-end; }
.plan-toggle-info h6 {
    font-size: 15px;
    margin-right: 15px;
}




/*.ptmi tr td:nth-child(2) { width: 15%; }
.ptmi tr td:nth-child(3) { width: 15%; }
.ptmi tr td:nth-child(4) { width: 15%; }
.ptmi tr td:nth-child(5) { width: 30%; }*/
.ptmi tr td:nth-child(6) { width: 15%; }
.tab-close { display: none; font-size: 31px; color: #f50057; }
.plans-tab-info.in .tab-close { display: block; }

.internet-deals-plans-box.collapse.in { border-color: #FF0066; box-shadow: -5px 20px 30px #FF00667C; }
.internet-deals-plans-box.collapse.in .plans-top-info { background: #FF0066; }
.internet-deals-plans-box .plans-icon { margin: 20px 0px; }
.plans-box.internet-deals-plans-box .plans-info h3 { margin: 0px; }
.plans-tab-heading { background: #FF0066; padding: 15px; text-align: center; margin-top: 15px; }
.plans-tab-heading h2 { font-family: Gibson-Semi-Bold; font-size: 40px; }
.internet-deals-tab-content .plans-tab-info.collapse.in .ptmi { display: none; }
.id-more-info { text-align: left; }
.id-more-info h3 { background: #f06; color: #000; padding: 15px; margin: -34px -0px 10px -34px; border-radius: 18px 0px 0px 0px; }
.id-more-info h5 { font-size: 30px; color: #f06; }
.id-more-info ul li { margin: 5px 0px; }
.id-more-info h4 { font-family: Gibson-Semi-Bold; font-size: 30px; }
.id-more-info h2 { color: #f06; font-size: 30px; }
.id-more-info .tab-close { position: absolute; right: 0px; top: 0px; }
.left-border:after { width: 3px; height: 136%; background: #000; content: ""; position: absolute; left: -15px; top: -37px; }
.id-more-info h2 { color: #f06; font-size: 30px; display: inline-block; margin-right: 60px; }
.all-deals-form-fields input { border: none; border-bottom: 3px solid #000; padding: 0px; font-size: 25px; }
.all-deals-form-fields { padding: 30px; }
.plans-tab-mobile-deals .plans-tab-heading { background: #1DE9B6; }
.plans-tab-mobile-deals .id-more-info h3 { background: #1DE9B6; }
.mobile-deals-wifi { padding: 10%; }
.mobile-deals-tv { padding: 10%; }
.mobile-deals-tv-bg { background: url(../images/94.jpg); background-repeat: no-repeat; background-position: center center; background-size: cover; }
.mobile-deals-wifi-bg { background: url(../images/93.jpg); background-repeat: no-repeat; background-position: center center; background-size: cover; }
.info-box { border-radius: 15px; border: 3px solid #FF0066; padding: 5%; margin: 0% 5%; }
.info-box h2 { font-size: 40px; line-height: 43px; margin-bottom: 15px; }
.plans-tv-deals-box .plans-icon { margin-top: 50px; }
.plans-tv-deals-box .plans-icon img { margin: 0px 10px; }
.plans-tv-deals-box.collapse.in .plans-top-info { background: #039BE5; }
.plans-tv-deals-box.collapse.in { box-shadow: 0px 0px 15px 5px #a8ddf7; border-color: #039BE5; }
.plans-tab-tv-deals .plans-tab-heading { background: #039BE5; }
.plans-tab-tv-deals .id-more-info h3 { background: #039BE5; }

.plans-tab-tv-deals ul .active a { background: #039BE5; }
.tv-category { display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; padding: 50px 0px; }
.tv-category-box { -ms-flex-preferred-size: 0; flex-basis: 0; -ms-flex-positive: 1; flex-grow: 1; max-width: 100%; }
.tv-category img { width: 25px; height: 25px; display: inline-block; vertical-align: middle; object-fit: contain; }
.tv-category h5 { display: inline-block; vertical-align: middle; }
.tv-category-box h6 { font-size: 19px; color: #fff; display: inline-block; vertical-align: middle; margin-left: 18px; }
.premium-sports-included-bg { background: url(../images/premium-sports-included-bg.png); background-repeat: no-repeat; background-position: center center; background-size: cover; padding-top: 15%; padding-bottom: 10%; }
.tv-deals-title-text { font-size: 100px; color: #fff; line-height: 100px; }
.tv-deals-sub-title-text { font-size: 30px; color: #fff; margin: 20px 0px; }
.premium-sports-included-info img { max-width: 550px; }
.dramas-box-sets-bg { background: url(../images/dramas-box-sets-bg.jpg); background-repeat: no-repeat; background-position: center center; background-size: cover; padding-top: 25%; padding-bottom: 7%; }
.highlights-bg { background: #181B1D; }
.highlights-box { margin-top: 30px; }
.highlights-info { padding: 15px 0px; }
.highlights-info h4 { font-size: 20px; color: #fff; }
.highlights-info p { color: #FFFFFF; margin-top: 5px; }
.classic-family-movies-bg { background: url(../images/classic-family-movies-bg.jpg); background-repeat: no-repeat; background-position: center center; background-size: cover; padding-top: 25%; padding-bottom: 7%; }
.upgrading-simple .switching-box { padding: 40px 0px; }
.upgrading-simple .number-icon-box img { width: 80px; height: 80px; object-fit: contain; margin-bottom: 10px; }
.upgrading-simple .number-icon-box p { font-size: 30px; }
.broadband-tv-package-bg { background: #181B1D; }
.plans-box.broadband-tv-package { background: #fff; box-shadow: none; }
.plans-box.broadband-tv-package.collapse.in { border-color: #FF0066; }
.plans-box.broadband-tv-package.collapse.in .plans-top-info { background: #FF0066; }
.broadband-tv-package .plans-icon { margin: 15px 0px; }
.broadband-tv-package .plans-icon { margin-top: 50px; margin-bottom: 0px; }
.blockbuster-movies-bg { background: url(../images/blockbuster-movies-bg.jpg); background-repeat: no-repeat; background-position: center center; background-size: cover; padding-top: 25%; padding-bottom: 7%; }
.product-details-action h1 { font-size: 30px; margin-bottom: 20px; }
.product-details-action h2 { font-size: 30px; display: inline-block; vertical-align: middle; margin-right: 15px; }
.product-details-action select { width: 150px; height: 40px; border: 1px solid #000; border-radius: 60px; padding: 0px 12px; display: inline-block; }
.product-details-action .button { display: block; margin: 20px 0px; }
.product-details-info { padding: 0% 10%; }
.product-details-image { padding-right: 10%; }
.other-options-title .title-text:after { width: 65%; height: 3px; content: ""; background: #f50057; display: inline-block; vertical-align: middle; margin-left: 50px; }
.other-options-box h3 { font-size: 20px; margin: 10px 0px; }

/********************************* Start Of Faqs Pages Css***************************************/
.accordion .panel-heading .panel-title a:before { font-family: FontAwesome; content: "\f067"; font-size: 30px; width: 30px; height: 30px; margin-right: 10px; font-weight: normal; width: 30px; height: 30px; background: #f50057; font-size: 20px; display: inline-block; border-radius: 100%; text-align: center; line-height: 30px; color: #ffffff; margin-left: -44px; }
.accordion.panel-group .panel.active .panel-heading .panel-title a:before { background: none; color: #f50057; content: "\f105"; font-size: 30px; }
.accordion .panel-heading { padding: 0px; border: none; border-radius: 0px; margin-bottom: 20px; }
.accordion .panel-heading .panel-title a { font-size: 20px; color: #11304E; }
.accordion.panel-group .panel.active .panel-heading .panel-title a { color: #FF0066; }
.accordion.panel-group .panel { border-radius: 0px; border: none; box-shadow: none; padding-left: 44px; }
.accordion .panel-body { border: none !important; }
.faqs-title-box h6 { font-size: 20px; margin: 15px 0px; }
.faqs-title-box ul li { display: inline-block; margin-right: 15px; }
.faqs-title-box ul li a { border: 1px solid #F50057; font-size: 18px; padding: 12px 45px 8px 45px; display: block; border-radius: 60px; color: #F50057; }
.login-form { padding: 0% 35% 0% 15%; }
.login-form h3 { font-size: 30px; margin: 30px 0px 15px 0px; }
.login-form form { padding-right: 22%; }
.login-form a { font-size: 20px; border-bottom: 2px solid #f50057; margin-top: 15px; display: inline-block; color: #11304E; }
.customer-login { padding: 14% 9%; border: 1px solid #FF0066; margin: 0px 27% 0% 8%; border-radius: 15px; }
.customer-login h5 { display: inline-block; vertical-align: middle; margin-left: 10px; font-size: 16px; }
.customer-login h3 { margin: 10px 0px; }
.customer-login .button { margin-top: 12px; }
.customer-login i { font-size: 50px; color: #FF0066; }
.customer-dashboard {padding: 0% 15%;}
.customer-dashboard h3 {margin: 20px;}

/********************************* End Of Faqs Pages Css***************************************/
.wfhd-category .tv-category-box { text-align: center; }
.wfhd-category .tv-category-box img { width: 70px; height: 50px; margin-bottom: 20px; }
.wfhd-category .tv-category-box h6 { display: block; }
.left-right-info h1 { margin: 15px 0px; }
.left-right-box { display: flex; align-items: center; }
.left-right-box:nth-child(odd) .left-box { order: 1; }
.left-right-box:nth-child(odd) .right-box { order: 2; padding-left: 5%; }
.left-right-box:nth-child(even) .right-box { order: 1; padding-right: 5%; }
.left-right-box:nth-child(even) .left-box { order: 2; }
.left-right-info h6 { font-size: 20px; color: #FF0066; }
.left-right-info .button { margin-top: 15px; }
.pricing-information-bg { background: transparent linear-gradient(287deg, var(--unnamed-color-11304e) 0%, #030A10 100%) 0% 0% no-repeat padding-box; border: 1px solid var(--unnamed-color-11304e); background: transparent linear-gradient(287deg, #11304E 0%, #030A10 100%) 0% 0% no-repeat padding-box; }
.pricing-information { padding: 50px 0px; }
.pricing-information h1 { margin-bottom: 15px; }
.pricing-toggle-box { display: flex; }
.pricing-toggle input[type="checkbox"] { width: 83px; height: 30px; position: absolute; left: 0px; top: -5px; z-index: 1; opacity: 0; margin: 0px; }
.pricing-toggle { position: relative; }
.pricing-toggle .pricing-toggle-check-mark { position: relative; cursor: pointer; border: 4px solid #11304E; width: 80px; height: 25px; border-radius: 60px; display: block; }
.pricing-toggle .pricing-toggle-check-mark:before { content: ''; width: 30px; height: 30px; background: #11304E; display: block; border-radius: 100%; position: absolute; top: -6px; left: -5px; }
.pricing-toggle input:checked + .pricing-toggle-check-mark:before { right: -5px; left: auto; }
.pricing-toggle-box { display: flex; align-items: center; justify-content: center; }
.pricing-toggle-info { padding: 0px 15px; }
.pricing-toggle-info h6 { font-size: 30px; }
.wfhd-plans-box { text-align: left; }
.wfhd-plans-box .plans-info h3 { margin: 0px 0px 15px 0px; }
.wfhd-plans-box .plans-top-info h5 { font-size: 50px; }
.wfhd-plans-box .plans-top-info { padding: 15%; text-align: center; }
.plans-top-info.bronze-bg { background: transparent radial-gradient(closest-side at 50% 50%, #694306 0%, #352203 100%) 0% 0% no-repeat padding-box; }
.wfhd-plans-box.plans-box.collapse.in .plans-top-info { background: #11304E; }
.wfhd-plans-box.plans-box.collapse.in { border-color: #11304E; }
.plans-top-info.silver-bg { background: transparent radial-gradient(closest-side at 50% 50%, #BABBB1 0%, #5D5E59 100%) 0% 0% no-repeat padding-box; }
.plans-top-info.gold-bg { background: transparent radial-gradient(closest-side at 50% 50%, var(--unnamed-color-e69b22) 0%, #734E11 100%) 0% 0% no-repeat padding-box; background: transparent radial-gradient(closest-side at 50% 50%, #E69B22 0%, #734E11 100%) 0% 0% no-repeat padding-box; }
.annually-pricing-table { display: none; }
.pricing-table.add .monthly-pricing-table { display: none; }
.pricing-table.add .annually-pricing-table { display: block; }
.silver-package { background: #BABBB1; padding: 5%; border-radius: 20px; box-shadow: -20px 20px 30px #00000029; }
.silver-package-box h1 { margin-bottom: 18px; }
.silver-package-box h2 { margin-bottom: 18px; }
.internet-for-business { padding-top: 50px; }
.internet-for-business h1 { font-weight: bold; text-align: center; }



.confirmation-info-box {
    padding-top: 40px;
}
.confirmation-info {
    padding-left: 8%;
    width: 53%;
}
.confirmation-thank-you-message img {width: 110px;display: inline-block;vertical-align: middle;}
.confirmation-thank-you-message h6 {
        font-size: 20px;
    color: #FF0066;
    display: inline-block;
    vertical-align: middle;
    max-width: 220px;
    padding-left: 15px;
}


.confirmation-info-box h3 {
    font-size: 20px;
    margin: 22px 0px;
}

.confirmation-info-box ul li strong {
    display: inline-block;
    vertical-align: middle;
    width: 250px;
}
.confirmation-info-box ul li span {
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 260px);
}
.confirmation-info-box ul li {
    margin: 10px 0px;
}
.confirmation-info-box ul li strong h4 {
    font-size: 30px;
}




















/*****************************************Basket page start***************************************/
.basket .container {
    max-width: 1490px;
}
.basket .summary-section {
    max-width: 470px;
    margin: 0 auto;
}
.basket-right {
    max-width: 623px;
    margin: 0 auto;
}
.summary-border{
    border-bottom: 1px solid #FF0066;
}
.summary-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.summary-title h1 {
    line-height: 67px;
}
.summary-tile .summary-edit {
    margin-right: 29.5px;
}
.summary-product-box {
    display: flex;
    align-items: center;
    padding: 24.5px 17.5px 22.5px 0;
}
.summary-pro-info {
    flex: 1;
}
.summary-product-box p {
    margin: 0;
    line-height: 27px;
}
.summary-pro-remove {
    margin-left: 14px;
}
.summary-pro-remove a {
    color: #FF0066;
    text-transform: lowercase;
    font-size: 28px;
}
.summary-pro-info h4 {
    margin-bottom: 5px;
    line-height: 27px;
}
.summary-pro-info p {
    line-height: 20px;
}
.summary-pro-total {
    padding: 14.5px 52px 4.5px 0;
}
.summary-pro-total div {
    margin-bottom: 14px;
    display: flex;
    justify-content: space-between;
}
.summary-pro-grand-total {
    display: flex;
    padding: 18.5px 52px 22px 0;
}
.summary-grand-total-price div {
    display: flex;
    align-items: flex-end;
}
.summary-grand-total-price, .summary-grand-total-space{
    flex: 1;
}
.promotional-code-form form {
    display: flex;
    align-items: center;
}
.promotional-code-form form div {
    margin-bottom: 0;
}
.promotional-code-form form .form-field {
    width: 266px;
}
.promotional-code-form form button {
    padding: 3px 49px;
    margin-left: 11px;
    font-size: 20px;
}
.promotional-code-form input {
    height: 40px;
    border-radius: 0;
    padding: 0 10px;
}
.promotional-code-form {
    padding-top: 18px;
    padding-bottom: 15px;
}
.basket-right hr {
    border-color: #FF0066;
    max-width: 470px;
    margin-left: 0;
}
.joining-us-form h3 {
    margin-bottom: 8px;
}
.joining-us-form p {
    line-height: 27px;
    margin-bottom: 0;
}
.joining-us-form span {
    font-size: 15px;
    line-height: 15px;
    max-width: 449px;
    display: inline-block;
}
.joining-us-form .button {
    font-size: 20px;
    padding: 3px 0;
    width: 100%;
    max-width: 250px;
    margin: 10px 0;
}
.basket-rate-line{
    padding-top: 10px;
}
.basket-continue {
    display: flex;
    margin-top: 30px;
}
.basket-continue .button {
    max-width: 250px;
    padding: 0;
    height: 50px;
    width: 100%;
}
.basket-continue .button.blue-color {
    margin-right: 30px;
}

.wizard .nav-tabs {
     position: relative;
     margin-bottom: 0;
     border-bottom-color: transparent;
}
 .wizard > div.wizard-inner {
    position: relative;
    max-width: 556px;
    margin: 0 auto;
}
 .connecting-line {
     height: 2px;
     background: #11304E;
     position: absolute;
     width: 67%;
     margin: 0 auto;
     left: 0;
     right: 0;
     top: 30%;
     z-index: 3;
}
 .wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
     color: #555555;
     cursor: default;
     border-bottom-color: transparent;
}
 span.round-tab {
     width: 46px;
     height: 46px;
     line-height: 30px;
     display: inline-block;
     border-radius: 50%;
     background: #fff;
     z-index: 2;
     position: absolute;
     left: 0;
     text-align: center;
     font-size: 16px;
     color: #0e214b;
     font-weight: 500;
     border: 3px solid #FF0066;
}
 span.round-tab i {
     color: #11304E;
}
 .wizard li.active span.round-tab {
     background: #FF0066;
     color: #fff;
     border-color: #FF0066;
}
 .wizard .nav-tabs > li {
     width: 33.33%;
}
 .wizard li:after {
     content: " ";
     position: absolute;
     left: 46%;
     opacity: 0;
     margin: 0 auto;
     bottom: 0px;
     border: 5px solid transparent;
     border-bottom-color: red;
     transition: 0.1s ease-in-out;
}
 .wizard .nav-tabs > li a {
     width: 46px;
     height: 46px;
     margin: 0 auto;
     border-radius: 100%;
     padding: 0;
     background-color: transparent;
     position: relative;
     top: 0;
}
 .wizard .nav-tabs > li a:hover {
     background: transparent;
}
.wizard li span.round-tab i {
    position: relative;
    top: 3px;
    font-size: 11px;
}
.progress-txt{
    margin-bottom: 0;
    line-height: 27px;
}
.wizard {
    margin-top: 48px;
}



/**************************Switch My Network Popup***************************/

#switchnetwork .modal-dialog {
    width: 586px;
}
#switchnetwork .modal-dialog .modal-content {
    border: 3px solid #FF0066;
    border-radius: 20px;
}
#switchnetwork .modal-header {
    padding: 35px 0 0 42px;
    border-bottom: 0;
}
#switchnetwork .modal-body{
    padding: 18px 51px 18px 70px;
}
#switchnetwork p{
    line-height: 15px;
    margin-bottom: 10px;
    color: #11304E;
}
#switchnetwork a{
    color: #11304E;
}
#switchnetwork p+p{
    margin-top: 0;
}
.switchnetwork-top-description{
    max-width: 372px;
}
.switch-pac .switch-plus{
    line-height: 27px;
    position: relative;
    margin-bottom: 9px;
    display: block;
}
.switch-pac .switch-plus[aria-expanded="false"]:before {
    content: '+';
    position: absolute;
    left: -28px;
    top: -2px;
    font-size: 26px;
    color: #FF0066;
    transition: all 0.5s ease-in-out;
    transform: rotate(-90deg);
}
.switch-pac .switch-plus[aria-expanded="true"]:before {
    content: '-';
    position: absolute;
    left: -24px;
    font-size: 30px;
    color: #FF0066;
    transition: all 0.5s ease-in-out;
    transform: rotate(-180deg);
}
.switch-pac ul {
    padding-left: 29px;
    margin-bottom: 10px;
}
.switch-pac ul li{
    font-size: 15px;
    line-height: 15px;
    color: #11304E;
}
.switch-pac ul li::before {
  content: "\2022";
  color: #FF0066;
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
}
.switch-pac .switch-plus-lastul{
    margin-bottom: 22px;
}
.switch-plus-content {
    margin-bottom: 15px;
}
.switch-plus-content p span{
    display: block;
}
.pac-form .form-check {
    display: inline-block;
    padding-right: 50px;
}
.pac-form .form-check input[type="radio"] {
    width: 14px;
    height: 14px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-color: #11304E;
    display: inline-block;
    padding: 2px;
    background-clip: content-box;
    cursor: pointer;
}
.pac-form .form-check input[type="radio"]:checked {
    background-color: #16FABF;
}
.pac-form .form-check input[type="radio"]:focus {
    outline: none;
}
.pac-form .form-check label {
    font-weight: normal;
    padding-left: 14px;
    line-height: 1;
}
.pac-form-check {
    margin-bottom: 7px;
}
.pac-form-fild {
    display: flex;
    max-width: 390px;
}
.pac-form-fild .form-field {
    padding-right: 20px;
    margin-bottom: 13px;
}
.pac-form-fild .form-field label {
    font-weight: normal;
    margin-bottom: 9px;
    line-height: 1;
}
.pac-form-fild .form-field input {
    border-radius: 0;
    height: 30px;
    padding: 0 10px;
    border-color: #FF0066;
}
.pac-form-fild .form-field input::placeholder{
    font-size: 15px;
    line-height: 1;
    color: #11304E
}
.pac-form-fild .button {
    width: auto;
    padding: 0;
    min-width: 59px;
    height: 30px;
    align-self: flex-end;
    margin-bottom: 13px;
}
.pac-form .pac-form-btn{
    width: 100%;
    max-width: 282px;
    margin-top: 0;
    margin-bottom: 20px;
}
.pac-switch-date .pac-form-fild{
    display: block;
}
.pac-switch-date .pac-form-fild .form-field {
    margin-bottom: 17px;
}
.pac-switch-date {
    margin-bottom: 25px;
}
.pac-switch-date p {
    max-width: 282px;
}

/*******************************Checkout Page********************************/

.checkout-main label{
    font-weight: normal;
    margin-bottom: 6px;
}
.checkout-main input::placeholder{
    color: #11304E;
}
.checkout-left h2 {
    margin-bottom: 17px;
}
.checkout-left-description {
    max-width: 510px;
    line-height: 1;
}
.checkout-about-form {
    max-width: 327px;
}
.checkout-about-form .form-field {
    margin-bottom: 8px;
}
.checkout-about-form .form-field.date-of-birth {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.checkout-about-form .form-field.date-of-birth label {
    flex-basis: 100%;
}
.checkout-about-form .form-field.date-of-birth input {
    max-width: 89px;
    text-align: center;
}
.checkout-about-form .form-field input {
    height: 44px;
    padding: 0 21px;
}
.checkout-payment input, 
.checkout-payment select{
    height: 48px;
    padding: 0 16px;
}
.checkout-error{
    color: #FF0066;
}
.checkout-payment h4 {
    margin-bottom: 5px;
}
.checkout-payment .form-field {
    margin-bottom: 13px;
}
.checkout-payment .form-field.dubble{
    margin-bottom: 0;
}
.form-field.dubble {
    display: flex;
    margin-bottom: 0;
}
.form-field.dubble .form-field:first-child {
    padding-right: 4px;
}
.form-field.dubble .form-field:last-child {
    padding-left: 4px;
}
.form-field.select-box select{
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}
.form-field.select-box{
    position: relative;
}
.form-field.select-box:after {
    content: '\f078';
    font: normal normal normal 17px/1 FontAwesome;
    color: #FF0066;
    right: 20px;
    bottom: 15px;
    height: 34px;
    padding: 15px 0px 0px 8px;
    position: absolute;
    pointer-events: none;
}
.checkout-payment {
    box-shadow: -5px 10px 50px #00000029;
    padding: 23px 69px 31px 69px;
    max-width: 913px;
    margin-right: 0;
    margin-left: auto;
}
.checkout-billing {
    max-width: 327px;
    margin-right: auto;
}
.checkout-creditcard {
    max-width: 327px;
    margin-left: auto;
}
.checkout-right {
    margin-top: 20px;
}
.checkout-pay-description {
    margin-bottom: 20px;
}
.checkout-payment h3 {
    margin-bottom: 4px;
}
.checkout-payment .form-check {
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
}
.checkout-payment .form-check input[type="radio"] {
    width: 20px;
    height: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-color: #FF0066;
    display: inline-block;
    padding: 2px;
    background-clip: content-box;
    cursor: pointer;
    margin: 0;
}
.checkout-payment .form-check input[type="radio"]:checked {
    background-color: #FF0066;
}
.checkout-payment .form-check input[type="radio"]:focus {
    outline: none;
}
.checkout-payment .form-check label {
    padding-left: 20px;
    margin: 0;
}
.checkout-payment .form-check.credit-check label {
    padding-left: 8px;
}
.checkout-payment .button {
    width: 100%;
    max-width: 300px;
    margin-bottom: 20px;
    padding: 0;
    height: 50px;
    font-size: 18px;
}
.checkout-payment .button.pink-bg {
    border-color: #F50057;
}
.checkout-creditcard .card-field-img {
    display: flex;
    align-items: flex-end;
}
.checkout-creditcard .card-img {
    width: 100px;
    border: 1px solid #11304E;
    border-radius: 4px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 13px;
}
.checkout-creditcard .card-img img {
    max-width: 75%;
}
.checkout-creditcard .card-field-img .form-field {
    flex: 1;
    padding-right: 8px;
}
.checkout-payment .form-field.cvv {
    max-width: 160px;
    margin-bottom: 20px;
}